<div class="form-group">
  <div class="">
    <div class="row">
        <div class="col-lg-3">
          <input type="text" [(ngModel)]="url" placeholder="Token authorize URL" />
        </div>
       
      <div class="col-lg-3">
        <input type="text" [(ngModel)]="clientId" placeholder="Client ID" />
      </div>
      <div class="col-lg-3">
        <input type="text" [(ngModel)]="clientSecret" placeholder="Client Secret" />
      </div>
      <div class="col-lg-3">
        <button class="btn btn-primary" (click)="authorize(url,clientId,clientSecret)">Authorize</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="result" class="alert alert-success col-lg-12">
  <h4>WOOP WOOP WOOP! You are authorized baby !</h4>
</div>
