
  <div class="form-group">
    <div class="proj-search">
          <div class="row">
            <div class="col-lg-3">
              <input type="text" class="form-control" placeholder="192.168.10.160:9000" [(ngModel)]="url" >
            </div>
            <div class="col-lg-3">
              <button (click)="getProjections(url)">Check</button> 
            </div>
          </div>
      </div>   
  </div>
<div class="preload-wrapper">
  <div *ngIf="loading" class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> 
    </svg>
  </div>
  <div *ngIf="results" class="panel panel-default projection-wrapper">
    <div class="panel-heading">
     <h1>Projections</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Projection Name</th>
          <th>Hashes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of results.result.projections | paginate: { itemsPerPage: 500, currentPage: p }">
          <td>
            <h3>{{a.projectionName}}</h3>
            <h6>{{a.projectionContractId}}</h6>
          </td>
          <td>
              <span *ngFor="let b of a.versions;let i = index" class="projection-hash-item">
                  <a  [routerLink]="['/projections', url, a.projectionContractId]">
                      <span *ngIf="b.status == 'building'" class="label label-primary">{{b.hash}}</span>
                      <span *ngIf="b.status == 'live'" class="label label-success">{{b.hash}}</span>
                  </a>
              </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <hr>
    Note 1: Hash is live <span class="label label-success">Hash Id</span><br/>
    Note 2: Hash is building <span class="label label-primary">Hash Id</span><br/>
  </div>
</div>


  

